body {
    padding-top: 70px;
}

.footer {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding: 15px 0 30px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}
.ui-autocomplete-parent-name {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
